@import"./base/mixin";
@import"./base/extends";
@import"./base/maps";

body {
    background:
        radial-gradient(rgb(187, 57, 57) 3px, transparent 4px),
        radial-gradient(rgb(187, 57, 57) 3px, transparent 4px),
        linear-gradient(#fff 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
        #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;


    .container2 {
        text-decoration: none;


        nav {
            ul {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 20px;
                list-style-type: none;
                background-color: rgba(255, 255, 255, 0.469);
                margin: 0;
                border: solid 5px rgb(0, 0, 0);
                height: 50px;
                @extend %display;

                .animacion {
                    text-decoration: none;
                    margin-top: 5px;
                    font-size: 20px;
                    color: rgb(0, 0, 0);
                    padding: 15px;

                    a {
                        color: brown;
                        text-decoration: none;
                    }

                    &:hover {
                        transform: scale(150%);
                    }
                }
            }
        }


        .header {
            #parrafo {
                padding: 5px 5px 5px 5px;
                @extend %display;
                background-color: brown;
                border-radius: 10px;
            }

            .animacion2 {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-around;
                font-size: 50px;

                &:hover {
                    animation: animacion 4s;
                }


            }
        }

        main {


            .lista {
                font-size: x-large;
                font-style: italic;
                background-color: rgba(165, 42, 42, 0.969);
                border-radius: 10px;
                text-decoration: none;

                .familia1{ 
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-around;
                }

            }
        }

        .sidebar {
            font-size: larger;
            font-style: italic;
            border-radius: 10px;

            h1 {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-around;
                font-size: 50px;
            }

            .pashafo {
                font-size: larger;
                padding: 5px 5px 5px 5px;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-around;
                background-color: rgb(165, 42, 42);
                border-radius: 10px;
            }

        }

    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
        border: solid 5px rgb(0, 0, 0);

        a {
            text-decoration: none;
            color: black;

            @include colores($colors, $ancho, $borde);

            &:hover {
                transform: scale(150%)
            }
        }

    }

    @keyframes animacion {
        0% {
            color: rgb(255, 255, 255);
            background-color: black;
            border-radius: 10px;
        }

        25% {
            color: rgb(255, 255, 255);
            background-color: black;
            border-radius: 10px;
        }

        50% {
            color: rgb(255, 255, 255);
            background-color: black;
            border-radius: 10px;
        }

        75% {
            color: rgb(255, 255, 255);
            background-color: black;
            border-radius: 10px;
        }

        100% {
            color: rgb(255, 255, 255);
            background-color: black;
            border-radius: 10px;
        }
    }

    @media screen and (max-width: 768px) {
        .animacion {
            font-size: medium;
        }

        nav {
            ul {
                li {
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 480px) {


        #parrafo {
            font-size: larger;
            padding: 5px 5px 5px 5px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            background-color: gray;
            border-radius: 10px;
        }

        #iframe1 {
            display: none;
        }

        img {
            display: none;
        }

        nav {
            ul {
                li {
                    a {
                        font-size: small;
                    }
                }
            }
        }

        .noticias {
            font-size: medium;
        }

        #carouselExampleControls {
            display: none;
        }

        .animacion {
            font-size: small;
        }

    }

    @media screen and (max-width: 1000px) {
        .noticias {
            font-size: 30px;
        }

        .familia1 {
            display: none;
        }

        .animacion {
            font-size: medium;
        }
    }

}

.terminos {
    font-size: 20px;
    background-color: rgb(236, 223, 232);
    border-radius: 20px;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}